# Data Analysis with Pandas

<h2> Pandas is a data analysis tool kit which can handle different kinds of data, also handles missing data.</h2>

## Intro to data structures

<ul>
<li><h1>Series</h1></li>
</ul>
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

* syntax:

import pandas as pd

s = pd.Series(data, index=index)

Here, data can be many different things:

<ul>

<li>a Python Data structure like List,Tuple,String,Dict etc</li>

<li>an ndarray</li>

<li>a scalar value (like 5)</li>
</ul>
The passed index is a list of axis labels.

In [2]:
import pandas as pd
import numpy as np

#passing ndarray
s = pd.Series(np.random.rand(5),index=['a', 'b', 'c', 'd', 'e'])
s

a    0.816861
b    0.946999
c    0.527378
d    0.476942
e    0.713494
dtype: float64

In [3]:
#passing list as data
L=pd.Series([12,22,13,43,12])
L

0    12
1    22
2    13
3    43
4    12
dtype: int64

# From dict

In [4]:
#Passing dictionary as data to Series
d = {'b': [1,2], 'a': [0,4],'c': [2,5]} #key becomes index of series, values becomes data
ss=pd.Series(d)
ss

b    [1, 2]
a    [0, 4]
c    [2, 5]
dtype: object

In [6]:
ss1=pd.Series(d, index=['b', 'c', 'd', 'a','g']) #NaN=>Not a Number, It is used missing value marker
ss1

b    [1, 2]
c    [2, 5]
d       NaN
a    [0, 4]
g       NaN
dtype: object

In [10]:
d1={'a':10,'b':20,'c':30}
sc2=pd.Series(d1)
sc2

a    10
b    20
c    30
dtype: int64

### Note

NaN (not a number) is the standard missing data marker used in pandas.

### If data is a scalar value, an index must be provided. The value will be repeated to match the length of index.

In [8]:
sc= pd.Series(5,index=list(range(10)))
sc

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
dtype: int64

In [9]:
sc1=pd.Series(5,index=list('abcdefghi'))
sc1

a    5
b    5
c    5
d    5
e    5
f    5
g    5
h    5
i    5
dtype: int64

In [11]:
s = pd.Series(np.random.rand(5),index=['a', 'b', 'c', 'd', 'e'])
s

a    0.593220
b    0.449380
c    0.410675
d    0.597557
e    0.174326
dtype: float64

### Performing Indexing on Series data

In [13]:
print("Accessing first element of series: ", s[0])
print()
print("Accessing first 3 elements of series: ",s[:3])
print()
print("Performing boolean hashing on series data where value > meadian\n",s[s > s.median()])
print()
print("Accessing 4, 3,1 elements of series: \n",s[[4, 3, 1]])
print()
print("Performing exponential formula on series",np.exp(s))

Accessing first element of series:  0.5932201542784933

Accessing first 3 elements of series:  a    0.593220
b    0.449380
c    0.410675
dtype: float64

Performing boolean hashing on series data where value > meadian
 a    0.593220
d    0.597557
dtype: float64

Accessing 4, 3,1 elements of series:
 e    0.174326
d    0.597557
b    0.449380
dtype: float64

Performing exponential formula on series a    1.809807
b    1.567339
c    1.507836
d    1.817673
e    1.190443
dtype: float64

In [9]:
#inserting new value to existing key
s['e'] = 12.0
s

a     0.307790
b     0.272492
c     0.925083
d     0.580786
e    12.000000
dtype: float64

# DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:
<ul>
<li>Dict of 1D ndarrays, lists, dicts, or Series</li>

<li>2-D numpy.ndarray</li>

<li>Structured or record ndarray</li>


<li>Another DataFrame</li>

    df=pd.DataFrame(data, index=None,columns=None)
    
    
Along with the data, you can optionally pass <b>index(row labels) and columns (column labels)</b> arguments. If you pass an index and  or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of Series plus a specific index will discard all data not matching up to the passed index.

If axis labels are not passed, they will be constructed from the input data based on common sense rules.

In [15]:
d = {'one': [1., 2., 3., 4.],
    'two': [4., 3., 2., 1.]}
#Passing dict as data to DataFrame, keys becomes col labels of DF, values become data of DF

dd=pd.DataFrame(d,index=['a','b','c','d'],columns=['one','two','three'] )
dd

   one  two three
a  1.0  4.0   NaN
b  2.0  3.0   NaN
c  3.0  2.0   NaN
d  4.0  1.0   NaN

# Passing scalar and vector values to the dataframe

In [ ]:
a=5 #scalar
b=[10,20,30,40] #vector

In [16]:
dr1={'a':[12],'b':[34],'c':[55]} #vector values

dr={'a':12,'b':34,'c':55} #scalar values

In [19]:
pd.DataFrame(dr1,index=['x','y','z'])#passing vector values to the dataframe of pandas

    a   b   c
x  12  34  55
y  12  34  55
z  12  34  55

In [20]:
pd.DataFrame(dr)#ValueError: If using all scalar values, you must pass an index

ValueError: If using all scalar values, you must pass an index

In [21]:
pd.DataFrame(dr,index=['x'])

    a   b   c
x  12  34  55

In [23]:
dt={'a':('Hello',),'b':('overs',)}

dft=pd.DataFrame(dt)
dft

       a      b
0  Hello  overs

In [24]:
dt={'a':'Hello','b':'overs'}

dft=pd.DataFrame(dt,index=[0])
dft

       a      b
0  Hello  overs

In [25]:
#passing data as 2-D list

dt=pd.DataFrame([[10,20],[30,40],[50]], index=['a','b','c'],columns=['H1','B1'])
dt

   H1    B1
a  10  20.0
b  30  40.0
c  50   NaN

In [26]:
w=pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
w

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

# Performing Slicing on DataFrame

In [27]:
#Accessing data of dataframe by using column labels

print(w['one'])

a    1.0
b    2.0
c    3.0
d    4.0
Name: one, dtype: float64

In [28]:
#Accessing data of dataframe by row labels
print(w['a'])#That means we can't access dataframe data using row labels

KeyError: 'a'

In [31]:
data = np.zeros((2, ), dtype=[('A', 'i4'), ('B', 'f4'), ('C', 'a10')])
#print('Original: ',data)

data[:] = [(1, 2., 'Hello'), (2, 3., "World")]

#a,b,c=(10,2.1,'Hi')

#print("Updated: ",data)

dz=pd.DataFrame(data)
dz

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [32]:
dzz=pd.DataFrame(data, index=['first', 'second'])
dzz

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [33]:
data2 = [{'a': 1, 'b': 2},  {'a': 5, 'b': 10, 'c': 20}]

d1=pd.DataFrame(data2, index=['first', 'second'], columns=['a', 'b','c'])
d1

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [34]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), columns=['a','b','c','d','e','f'])
df

    a   b   c   d   e   f
0  48  42  54  53  40  66
1  39  47  31  55  67  68
2  37  31  50  43  37  38
3  48  33  42  55  69  60
4  50  52  31  55  62  67
5  37  69  43  53  64  57

In [35]:
df[['a','c','e']]#accessing with specific columns

    a   c   e
0  48  54  40
1  39  31  67
2  37  50  37
3  48  42  69
4  50  31  62
5  37  43  64

In [28]:
df[[1,3,4]]#Accessing element of DF by index(row) labels

KeyError: "None of [Int64Index([1, 3, 4], dtype='int64')] are in the [columns]"

In [29]:
df[:6:2]# It will return alternative rows for df

    a   b   c   d   e   f
0  34  36  46  52  41  45
2  51  35  64  56  58  48
4  62  67  44  64  69  55

# Indexing / selection

The basics of indexing are as follows:

|-----------------------------|------------------------|--------------------|
| Operation                       Syntax                           Result   |
|-----------------------------|------------------------|--------------------|
| Select column               |    df[col]             |           Series   |
|-----------------------------|------------------------|--------------------|
| Select row by label         |    df.loc[label]       |           Series   |
|-----------------------------|------------------------|--------------------|
|Select row by int location   |  df.iloc[locs]         |          Series    |
|-----------------------------|------------------------|--------------------|
| Slice rows                  |    df[5:10]            |        DataFrame   |
|-----------------------------|------------------------|--------------------|
|Select rows by boolean vector|     df[bool_vec]       |        DataFrame   |
|-----------------------------|------------------------|--------------------|

# Indexing and selecting data

Different choices for indexing
Object selection has had a number of user-requested additions in order to support more explicit location based indexing. Pandas now supports three types of multi-axis indexing.

**.loc** is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found. Allowed inputs are:

A single label, e.g. 5 or 'a' (Note that 5 is interpreted as a label of the index. This use is not an integer position along the index.).

A list or array of labels ['a', 'b', 'c'].

A slice object with labels 'a':'f' (Note that contrary to usual python slices, both the start and the stop are included, when present in the index! See Slicing with labels and Endpoints are inclusive.)

A boolean array (any NA values will be treated as False).

A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above).

See more at Selection by Label.

**.iloc** is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array. .iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with Python/NumPy slice semantics). Allowed inputs are:

An integer e.g. 5.

A list or array of integers [4, 3, 0].

A slice object with ints 1:7.

A boolean array (any NA values will be treated as False).

A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above).

See more at Selection by Position, Advanced Indexing and Advanced Hierarchical.

.loc, .iloc, and also [] indexing can accept a callable as indexer. See more at Selection By Callable.

Getting values from an object with multi-axes selection uses the following notation (using .loc as an example, but the following applies to .iloc as well). Any of the axes accessors may be the null slice :. Axes left out of the specification are assumed to be :, e.g. p.loc['a'] is equivalent to p.loc['a', :, :].

Object Type

Indexers

Series

s.loc[indexer]

DataFrame

df.loc[row_indexer,column_indexer]

In [36]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), index=['r1','r2','r3','r4','r5','r6'],columns=['a','b','c','d','e','f'])
df

     a   b   c   d   e   f
r1  52  33  35  54  48  52
r2  34  35  46  44  40  52
r3  56  43  48  37  35  60
r4  38  49  40  64  68  56
r5  39  57  59  39  33  50
r6  36  55  39  47  69  42

# .loc
Accessing data by row labels

In [37]:
#df.loc[row labels,col labels]
df.loc['r3',:]

a    56
b    43
c    48
d    37
e    35
f    60
Name: r3, dtype: int32

In [38]:
df.loc[['r1','r3','r5'],::2]# alternative rows and alternative columns

     a   c   e
r1  52  35  48
r3  56  48  35
r5  39  59  33

In [33]:
df.loc[['r2','r4','r6'],['a','c','f']]

     a   c   f
r2  31  34  38
r4  46  43  69
r6  62  51  58

# iloc
Accessing data by integer location

In [39]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), columns=['a','b','c','d','e','f'])
df

    a   b   c   d   e   f
0  42  34  54  49  53  48
1  66  39  40  40  30  35
2  52  62  55  59  61  63
3  52  50  61  33  59  36
4  42  69  64  57  51  52
5  33  45  45  61  41  46

In [40]:
df.iloc[5,5]# it will return element at position 5th row and 5th col

46

In [41]:
df.iloc[[0,2,4,5],[1,3,4,5]]

    b   d   e   f
0  34  49  53  48
2  62  59  61  63
4  69  57  51  52
5  45  61  41  46

In [44]:
df.to_csv('1_I2IT.csv',index=False)

# Importing Data

Use these commands to import data from a variety of different sources and formats.

pd.read_csv(filename) | From a CSV file

pd.read_table(filename) | From a delimited text file (like TSV)

pd.read_excel(filename) | From an Excel file

pd.read_sql(query, connection_object) | Read from a SQL table/database

pd.read_json(json_string) | Read from a JSON formatted string, URL or file.

pd.read_html(url) | Parses an html URL, string or file and extracts tables to a list of dataframes

pd.read_clipboard() | Takes the contents of your clipboard and passes it to read_table()

pd.DataFrame(dict) | From a dict, keys for columns names, values for data as lists

# Exporting Data

Use these commands to export a DataFrame to CSV, .xlsx, SQL, or JSON.

df.to_csv(filename) | Write to a CSV file

df.to_excel(filename) | Write to an Excel file

df.to_sql(table_name, connection_object) | Write to a SQL table

df.to_json(filename) | Write to a file in JSON format


# Create Test Objects

These commands can be useful for creating test segments.

pd.DataFrame(np.random.rand(20,5)) | 5 columns and 20 rows of random floats

pd.Series(my_list) | Create a series from an iterable my_list

df.index = pd.date_range('1900/1/30', periods=df.shape[0]) | Add a date index

# Viewing/Inspecting Data
Use these commands to take a look at specific sections of your pandas DataFrame or Series.

df.head(n=5) | First n rows of the DataFrame

df.tail(n=5) | Last n rows of the DataFrame

df.shape | Number of rows and columns

df.info() | Index, Datatype and Memory information

df.describe() | Summary statistics for numerical columns

s.value_counts(dropna=False) | View unique values and counts

df.apply(pd.Series.value_counts) | Unique values and counts for all columns

# Selection

Use these commands to select a specific subset of your data.

df[col] | Returns column with label col as Series

df[[col1, col2]] | Returns columns as a new DataFrame

s.iloc[0] | Selection by position

s.loc['index_one'] | Selection by index

df.iloc[0,:] | First row

df.iloc[0,0] | First element of first column

# Data Cleaning

Use these commands to perform a variety of data cleaning tasks.

df.columns = ['a','b','c'] | Rename columns

pd.isnull() | Checks for null Values, Returns Boolean Arrray

pd.notnull() | Opposite of pd.isnull()

df.dropna() | Drop all rows that contain null values

df.dropna(axis=1) | Drop all columns that contain null values

df.dropna(axis=1,thresh=n) | Drop all rows have have less than n non null values

df.fillna(x) | Replace all null values with x

s.fillna(s.mean()) | Replace all null values with the mean (mean can be replaced with almost any function from the statistics module)

s.astype(float) | Convert the datatype of the series to float

s.replace(1,'one') | Replace all values equal to 1 with 'one'

s.replace([1,3],['one','three']) | Replace all 1 with 'one' and 3 with 'three'

df.rename(columns=lambda x: x + 1) | Mass renaming of columns

df.rename(columns={'old_name': 'new_name'}) | Selective renaming

df.set_index('column_one') | Change the index

df.rename(index=lambda x: x + 1) | Mass renaming of index

# Filter, Sort, and Groupby

Use these commands to filter, sort, and group your data.

df[df[col] > 0.5] | Rows where the column col is greater than 0.5

df[(df[col] > 0.5) & (df[col] < 0.7)] | Rows where 0.7 > col > 0.5

df.sort_values(col1) | Sort values by col1 in ascending order

df.sort_values(col2,ascending=False) | Sort values by col2 in descending order

df.sort_values([col1,col2],ascending=[True,False]) | Sort values by col1 in ascending order then col2 in descending order

df.groupby(col) | Returns a groupby object for values from one column

df.groupby([col1,col2]) | Returns groupby object for values from multiple columns

df.groupby(col1)[col2] | Returns the mean of the values in col2, grouped by the values in col1 (mean can be replaced with 
almost any function from the statistics module)

df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean) | Create a pivot table that groups by col1 and calculates the mean 
of col2 and col3

df.groupby(col1).agg(np.mean) | Find the average across all columns for every unique col1 group

df.apply(np.mean) | Apply the function np.mean() across each column

nf.apply(np.max,axis=1) | Apply the function np.max() across each row

# Join/Combine

Use these commands to combine multiple dataframes into a single one.

df1.append(df2) | Add the rows in df1 to the end of df2 (columns should be identical)

pd.concat([df1, df2],axis=1) | Add the columns in df1 to the end of df2 (rows should be identical)

df1.join(df2,on=col1,how='inner') | SQL-style join the columns in df1 with the columns on df2 where the rows for col have 
identical values. 'how' can be one of 'left', 'right', 'outer', 'inner'

# Statistics
Use these commands to perform various statistical tests. (These can all be applied to a series as well.)


df.describe() | Summary statistics for numerical columns

df.mean() | Returns the mean of all columns

df.corr() | Returns the correlation between columns in a DataFrame

df.count() | Returns the number of non-null values in each DataFrame column

df.max() | Returns the highest value in each column

df.min() | Returns the lowest value in each column

df.median() | Returns the median of each column

df.std() | Returns the standard deviation of each column

# What kind of data does pandas handle?

In [36]:
import pandas as pd
df = pd.DataFrame({
       "Name": ["Braund, Mr. Owen Harris",
             "Allen, Mr. William Henry",
             "Bonnell, Miss. Elizabeth"],
    "Age": [22, 35, 58],
   "Sex": ["male", "male", "female"]})
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female